@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
html {
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
}
.container {
    display: grid;
    margin: 0 auto;
    width: 1200px;
    background: #ccc;
    grid-template: "header header"
    "photo main" 1fr
    "footer footer" / 300px auto;
    padding: 15px;
    min-height: 100vh;
    box-sizing: border-box;
}
header {
    padding: 15px;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav {
    width: 100%;
}
.menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.menu li a {
    font-size: 2em;
    color: #000;
    text-decoration: none;
}
.menu li a:hover {
    color: #f00;
    text-decoration: underline;
}
.content {
    background: linear-gradient(to bottom, #ccc 0, #fff 5%, #fff 95%, #ccc 100%), linear-gradient(to right, #ccc 0, #fff 5%, #fff 95%, #ccc 100%);
}
.photo {
    grid-area: photo;
    background: linear-gradient(to bottom, #ccc 0, #fff 5%, #fff 95%, #ccc 100%), linear-gradient(to right, #ccc 0, #fff 5%, #fff 95%, #ccc 100%);
}
.photo img {
    max-width: 100%;
    clip-path: ellipse(100% 100% at 0% 20%);
}
main {
    padding: 15px;
    grid-area: main;
}
.footer {
    padding: 15px;
    grid-area: footer;
    display: flex;
    align-items: center;
    font-size: 0.8em;
}
.footer img {
    max-height: 4em;
    margin: 1em 3em;
}
